{{#if link}}
    <a
        href="{{link.url}}"
        class="link {{link.className}} {{link.link-mod-color}} {{link.link-mod-size}} {{link.link-mod-position}}"
    >
        {{link.value}}
    </a>
{{/if}}
